{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}OpenID Connect - User Creation{% endblock %}

{% block content %}
<div class="content">
    <div class="content-body">
        <form action="" method="POST" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <p class="error-message">{{ error }}</p>
            <input type="text" name="username" placeholder="Username" pattern="^[A-Za-z0-9_]*$" title="Username should not contain . @ - symbols">
            {% for field_key, field_value in existing_data.items %}
            <input type="hidden" name="{{ field_key }}" value="{{ field_value }}">
            {% endfor %}
            <input type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock %}
