
sudo: required
dist: bionic
language: python
matrix:
    include:
        - python: 3.6
          env: TOXENV=py36-django22
        - python: 3.6
          env: TOXENV=py36-django30
        - python: 3.7
          env: TOXENV=py37-django22
        - python: 3.7
          env: TOXENV=py37-django30
        - python: 3.8
          env: TOXENV=py38-django22
        - python: 3.8
          env: TOXENV=py38-django30
        - python: 3.6
          env: TOXENV=lint
install:
    - pip install tox
script: tox
