name: CI
on:
  - push
  - pull_request
concurrency:
  group: ci-${{ github.ref }}-${{ github.sha }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  github-action-ci:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # Django 3.2 LTS
          - python_version: "3.10"
            toxenv: "py310-django32"
          - python_version: "3.11"
            toxenv: "py311-django32"
          - python_version: "3.12"
            toxenv: "py312-django32"
          # Django 4.2 LTS
          - python_version: "3.10"
            toxenv: "py310-django42"
          - python_version: "3.11"
            toxenv: "py311-django42"
          - python_version: "3.12"
            toxenv: "py312-django42"
          # Django 5.x
          - python_version: "3.10"
            toxenv: "py310-django50"
          - python_version: "3.11"
            toxenv: "py311-django50"
          - python_version: "3.12"
            toxenv: "py312-django50"
          # Linting
          - python_version: "3.10"
            toxenv: "lint"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
          architecture: "x64"

      - name: Install APT requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gdal-bin libgdal-dev
          sudo rm -rf /var/lib/apt/lists/*

      - name: Install tox
        run: |
          pip install -U pip
          pip install tox

      - name: Run tests
        run: tox
        env:
          TOXENV: ${{ matrix.toxenv }}
